# config.yaml
root_dir: null
valid_filepath: null
train_filepath: null
test_filepath: null
checkpoint_path: null
mode: train # train or eval

train:
  learning_rate: 0.0001
  num_epochs: 10
  batch_size: 8
  class_weights:
    [
      0.386375,
      0.661126,
      0.548184,
      0.640482,
      0.876862,
      0.925186,
      3.249462,
      1.542289,
      2.175141,
      2.272419,
      3.062762,
      3.626097,
      1.198702,
    ]
  ignore_index: -1
  weight_decay: 0.01

model:
  freeze_backbone: False
  num_classes: 13

dataloader:
  # 3*(Blue, Green, Red, Narrow NIR, SWIR 1, SWIR 2)
  bands: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
  mean:
    [494.905781, 815.239594, 924.335066, 2968.881459, 2634.621962, 1739.579917]
  std: [284.925432, 357.84876, 575.566823, 896.601013, 951.900334, 921.407808]
  img_size: 224
  temporal_dim: 3
  replace_label: null
  reduce_to_zero: True
  no_data_value: null
  constant_multiplier: 1.0
  max_pixel_value: 10000

test:
  img_size: 224
  crop_size: 224
  stride: 224
  mask_cloud: False
