geopandas==0.14.1
shapely
pandas
xarray[complete]
rasterio
earthpy
cftime
h5pyd
Bottleneck
absl-py
black
flake8
isort
jupyter
mypy
neptune-client
numpy
pre-commit
pytest
setuptools
streamlit
tqdm
pytest-cov
rioxarray
