geopandas==0.14.4
shapely
pandas
xarray[complete]
rasterio
earthpy
cftime
h5pyd
Bottleneck
absl-py
black
flake8
isort
jupyter
mypy
numpy==1.26.4
pre-commit==3.7.1
pytest==8.3.2
setuptools
streamlit
tqdm
pytest-cov
rioxarray
typer
scikit-learn
tomli
astral
backoff==2.2.1
ratelimit==2.2.1
codecarbon==3.0.2
ptflops
oauthlib==3.2.2
pynvml==11.0.0
datashader
