# Application Stage
STAGE=dev

# SSL/HTTPS Configuration (required for prod) - Ignore if in dev STAGE
LETSENCRYPT_DOMAIN_NAME=your-domain.com
LETSENCRYPT_EMAIL=your-email@example.com

# RQ Dashboard Authentication (required for prod) - Ignore if in dev STAGE
RQ_DASHBOARD_USERNAME=admin
RQ_DASHBOARD_PASSWORD=change-this-password

# Redis Configuration
REDIS_HOST=instageo-redis
REDIS_PORT=6379
REDIS_DB=0

# Data and Models Configuration
DATA_FOLDER=/app/instageo-data
HOST_MODELS_PATH=/path/to/models
APP_MODELS_PATH=/app/models
MODELS_REGISTRY_GCS_URI="gs://path/to/models/registry.yaml"

# Worker Configuration
DATA_PROCESSING_WORKER_REPLICAS=1
MODEL_PREDICTION_WORKER_REPLICAS=1
VISUALIZATION_PREPARATION_WORKER_REPLICAS=1

# Earth Data Credentials
EARTHDATA_USERNAME=your-username
EARTHDATA_PASSWORD=your-password

# Test Configuration
TEST_FILEPATH=hls_raster_dataset.csv

# Frontend Configuration
REACT_APP_MIN_AREA_KM2=50
REACT_APP_MAX_AREA_KM2=500
REACT_APP_AUTH0_DOMAIN=auth0-domain.auth0.com
REACT_APP_AUTH0_CLIENT_ID=auth0-client-id
REACT_APP_AUTH0_REDIRECT_URI=http://localhost
REACT_APP_AUTH0_AUDIENCE=auth0-api-identifier

# Auth0 Configuration
AUTH0_DOMAIN=xxxxxxxxxx.auth0.com
AUTH0_CLIENT_ID=xxxxxxxxxx
AUTH0_REDIRECT_URI=http://localhost
AUTH0_AUDIENCE=https://api.instageo.com

# Domain name (required for prod) - Ignore if in dev STAGE
DOMAIN_NAME=your-domain.com

# Cloudflare
CLOUDFLARE_TUNNEL_NAME=""
CLOUDFLARE_TUNNEL_CREDS='' # Obtained after running cloudflared tunnel create $CLOUDFLARE_TUNNEL_NAME.
                           # You can use the credentials generated from another machine

# Database Configuration
# If not set, defaults to SQLite at /app/database/instageo.db
# For PostgreSQL: DATABASE_URL=postgresql://[USERNAME]:[PASSWORD]@[HOST]:[PORT]/[DATABASE_NAME]
# For SQLite: DATABASE_URL=sqlite:///path/to/[DATABASE_NAME]
